<nav ng-controller="NavCtrl">
  <div class="nav-wrapper blue">
    <div class="container">
      <a href="#" class="brand-logo">Game Watch</a>
      <div ng-show="!loginLink()">
        <ul class="right hide-on-med-and-down">
          <span ng-show="registerLink()">
            <li><a ng-href="/">Login</a></li>
          </span>        
          <span ng-show="myTeamLink()">
            <!-- <li><a ng-href="/#/reminder">Reminders</a></li> -->
            <li><a ng-href="/#/nfl">NFL</a></li>
          <!--   <li><a ng-href="/team">Team</a></li> -->
            <li><a href="/" ng-click="logout()">Logout</a></li>
          </span>
          <span ng-show="reminderLink()">
            <li><a ng-href="/#/myTeam">MyTeams</a></li>
            <li><a ng-href="/#/nfl">NFL</a></li>
            <li><a ng-href="/#/team">Team</a></li>
            <li><a href="/" ng-click="logout()">Logout</a></li>
          </span>
          <span ng-show="nflLink()">
            <li><a ng-href="/#/myTeam">MyTeams</a></li>
            <!-- <li><a ng-href="/#/reminder">Reminders</a></li> -->
            <li><a ng-href="/#/team">Team</a></li>
            <li><a href="/" ng-click="logout()">Logout</a></li>             
          </span> 
          <span ng-show="teamLink()">
            <li><a ng-href="/#/myTeam">MyTeams</a></li>
            <!-- <li><a ng-href="/#/reminder">Reminders</a></li> -->
            <li><a ng-href="/#/nfl">NFL</a></li>
            <li><a href="/" ng-click="logout()">Logout</a></li>
          </span>               
        </ul>
      </div> 
    </div>
  </div>
</nav>