<nav ng-controller="NavCtrl">
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo">Game Watch</a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-href="/">Login</a></li>
        <li><a ng-href="/register">Register</a></li>
        <li><a ng-href="/myTeam">MyTeams</a></li>
        <li><a ng-href="/reminder">Reminders</a></li>
        <li><a ng-href="/nfl">NFL</a></li>
        <li><a ng-href="/team">Team</a></li>
        <!-- <li><a href="" ng-click="logout()">Logout</a></li> -->
      </ul>  
    </div>
  </div>
</nav>