<div>
	<div ng-include="'partials/nav.html'"></div>
	<div class="container">
    <div class="row">
      <div class="col m6">
        <h2>Welcome!</h2>
        <p>Spicy jalapeno bacon ipsum dolor amet quis pork cillum do irure dolor deserunt turkey. Leberkas meatloaf cow jerky turducken. Proident culpa nostrud chicken. Velit nulla tail, ham hock ball tip corned beef occaecat eu do pork chop lorem cupim biltong.
        Proident aliqua pork loin ipsum tenderloin velit ribeye eiusmod aliquip. In pork loin duis adipisicing pork chop eu, landjaeger ut enim turducken frankfurter bresaola commodo minim veniam. Id consequat rump brisket exercitation prosciutto shank commodo pastrami chuck chicken ex. Ex eiusmod bresaola cillum rump prosciutto. Picanha tail bacon, doner velit pork belly ham burgdoggen irure labore sint. Ground round cow bresaola proident picanha ex.</p>
      </div>
      <div class="col m6">
        <h2 class="center-align">Register</h2>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="pass" type="password" class="validate">
                <label for="pass">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="pass" type="confirm" class="validate">
                <label for="pass">Confirm Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col m12">
                <p class="right-align">
                <button class="btn btn-large waves-effect waves-light" type="button" name="action">Register</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
	</div>
</div>