<div>
	<div ng-include="'partials/nav.html'"></div>
	<div class="container">
		<h1>This is the Reminder page</h1>
    <form class="col s12" ng-submit="login()">
      <div class="row">
				<button class="btn btn-large waves-effect waves-light" type="submit" name="action">Login</button>
      </div>
    </form>  
		<!-- List one team from user MVP -->
		<!-- Call to API for User team.  Teams eventually... -->
		<!-- Eventually I would like to choose a team from user array with select -->
		<!-- Use input to set reminder time, sorts demo issue.  Then just match date of game for twilio reminder. -->
	</div>
</div>