<div>
	<div ng-include="'partials/nav.html'"></div>
	<div class="container">
		<div id="team">
			<!-- Able to parse this from all team data with $routeParams in app.js -->
			<h2>{{teamName}} Schedule</h2>
			<div class="schedule">
			<!-- ng-repeat -->
				<ul ng-repeat="game in schedule">
					<li>{{ game.date }} - {{ game.time }} - {{ game.awayTeam.Abbreviation }} vs. {{ game.homeTeam.Abbreviation }} at {{ game.location }}</li>
				</ul>
			</div>
			<a class="waves-effect waves-light btn" ng-click="addTeamToUser()">Add Team</a>
		</div>	
	</div>		
</div>